<section class="gallery section">
    <div class="container">
        <div class="gallery_header section_header"><span class="subtitle">BİZ NƏ EDİRİK</span>
            <h2 class="title"><span class="highlight">QALERİYA</span></h2>
        </div>
        <ul class="gallery_grid d-grid" data-role="gallery">
            {% for item in gallery %}
            <li class="gallery_item" data-aos="fade-up"><a class="media" href="{{item.image.url}}".jpg
                    data-caption="Fresh Concept Construction Renovation" data-role="gallery-link">
                    <picture>
                        <source data-srcset="{{item.image.url}}" srcset="{{item.image.url}}" type="image/webp"><img
                            class="lazy" data-src="{{item.image.url}}" src="{{item.image.url}}">
                    </picture>
                    <div class="overlay">
                        <h4 class="overlay_caption">{{item.title}}</h4><span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>