{% load static %}
<section class="hero primary-bg">
    <div class="hero_deco">
        <picture>
            <source data-srcset="{% static "img/plan.png" %}" srcset="{% static "img/plan.png" %}" type="image/webp"><img class="lazy"
                data-src="{% static "img/plan.png" %}" src="{% static "img/plan.png" %}" alt="media">
        </picture>
    </div>
    <div class="container" style="padding-bottom: 340px;">
        {% if is_mobile %}
        <picture>
            <source data-srcset="{{hero.image.url}}" srcset="{{hero.image.url}}" type="image/webp"><img class="lazy hero-mobile-img"
                data-src="{{hero.image.url}}" src="{{hero.image.url}}" alt="media">
        </picture>
        {% endif %}
        {% if is_mobile %}
        <div class="hero-bg-color">
        </div>
        {% endif %}
        {% if not is_mobile %}
        <div class="hero_media" data-aos="fade-up" data-aos-delay="50">
            <picture>
                <source data-srcset="{{hero.image.url}}" srcset="{{hero.image.url}}" type="image/webp"><img class="lazy"
                    data-src="{{hero.image.url}}" src="{{hero.image.url}}" alt="media">
            </picture>
        </div>
        {% endif %}
        <div class="hero_header section_header"><span class="subtitle subtitle--extended">{{hero.slogan}}</span>
            <h1 class="title">{{hero.title}}</h1>
            <p class="text">{{hero.description}}</p>
            <div class="sec-btn">
                <a class="btn" href="{% url "contact" %}">Əlaqə</a>
            <div>
        </div>
    </div>
</section>