{% load static %}
<section class="hero primary-bg">
    <div class="hero_deco">
        <picture>
            <source data-srcset="{% static "img/plan.png" %}" srcset="{% static "img/plan.png" %}" type="image/webp"><img class="lazy"
                data-src="{% static "img/plan.png" %}" src="{% static "img/plan.png" %}" alt="media">
        </picture>
    </div>
    <div class="container" style="padding-bottom: 340px;">
        <div class="hero_media" data-aos="fade-up" data-aos-delay="50">
            <picture>
                <source data-srcset="{{hero.image.url}}" srcset="{{hero.image.url}}" type="image/webp"><img class="lazy"
                    data-src="{{hero.image.url}}" src="{{hero.image.url}}" alt="media">
            </picture>
        </div>
        <div class="hero_header section_header"><span class="subtitle subtitle--extended">{{hero.slogan}}</span>
            <h1 class="title">{{hero.title}}</h1>
            <p class="text">{{hero.description}}</p><a class="btn" href="{% url "contact" %}">Əlaqə</a>
        </div>
        <div class="hero_main" >
            <div class="numbers">
                <div class="numbers_group">
                    <h2 class="countNum number" data-suffix="+" data-value="{{hero.project_for_year}}">0</h2><span class="label">Proyekt / İl</span>
                </div>
                <div class="numbers_group">
                    <h2 class="countNum number" data-separator="." data-value="{{hero.turnover}}">0</h2><span class="label">İllik dövriyyə</span>
                </div>
            </div>
        </div>
    </div>
</section>