{% extends "base.html" %}
{% block main %}

{% include "components/index/hero.html" %}

{% include "components/index/services.html" %}

{% include "components/index/projects.html" %}

{% include "components/index/about.html" %}

{% include "components/index/team.html" %}

{% include "components/index/why-choose-us.html" %}

{% include "components/index/process.html" %}

{% include "components/index/gallery.html" %}

{% include "components/index/blogs.html" %}

{% include "components/index/contact.html" %}

{% endblock main %}