{% extends "base.html" %}
{% block main %}
<main>
{% include "components/index/hero.html" %}

{% include "components/index/services.html" %}

{% include "components/index/projects.html" %}

{% include "components/index/about.html" %}

{% include "components/index/team.html" %}

{% include "components/index/why-choose-us.html" %}

{% comment %} {% include "components/index/process.html" %} {% endcomment %}

{% include "components/index/gallery.html" %}

{% include "components/index/blogs.html" %}

{% include "components/index/contact.html" %}
</main>
{% endblock main %}